body {
padding: 30px;
}

h1 {
font-family: Verdana;
}

.navbar {
margin-bottom: 40px;
}

/*
below centers the input font in the div
*/
#user_form li {
  position: relative;
  padding-top: 15px;
}

#map_canvas {
height: 800px;

}

#map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
      }


#panel {
        position: absolute;
        top: 225px;
        left: 50%;
        margin-left: -465px;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
      }

.navbar-brand {

  font-family: 'Raleway Dots', cursive;
  margin-left: -17px;
  text-align: right;
  font-size: 50px;
}

/*#longitude {
	display: hidden;
}
*/