{% extends "layout.html" %}


{% block body %}
<!-- 
<div class="row">

	<!-- displaying results -->
	<div class="col-md-12">
		<h4>By {{ idea.creator }} from {{ idea.title }}</h4>
		<h4>Review of Restaurant<a href="/ideas/{{ idea.slug }}"> {{ idea.idea }}</a></h4>
		
	<!-- 	Somewhere here hard code: https://s3.amazonaws.com/restaurant_photos_locavore/ + {{idea.filename?}}
		to display image
 -->

		<p>{{ idea.latitude }}</p>
		<p>{{ idea.longitude }}</p>
		<p>
			<ul>
			{% for c in idea.categories %}
			<li>{{ c|replace("_"," ") }}</li>
			{% endfor %}
			</ul>
		</p>

		<p>added: {{ idea.timestamp.strftime("%a %m/%d %I:%M%p ") }}</p>
		
		<hr>

		<footer>
                <a href="/"><strong>Back to Locavore</strong></a>
        </footer>
	
	</div>	

</br> 


		



			<!-- DISPLAY COMMENTS -->
			<!-- <div class="col-md-5">
				{% for comment in idea.comments %}
				<div class="comment">
					<span class="commenter">{{ comment.name }} said,</span><br>
					<p>{{ comment.comment }}</p>
					<p><small>{{ comment.timestamp.strftime("%a %m/%d %I:%M%p ") }}</small></p>
				</div>
				
				{% endfor %}
			</div> -->

			<!-- ADD COMMENT -->
			<!-- <div class="col-md-5">
				<form method="POST" action="/ideas/{{ idea.id }}/comment">
					<label for="name">First Name</label>
					<input type="text" id="name" name="name">
					<br>
					<label for="comment">Comment</label>
					<textarea cols="50" rows="6" id="comment" name="comment"></textarea>
					
					<label>
					<button type="submit" class="btn btn-success">Comment</button>
					</label>
				</form>
			</div>
		</div>
		

	</div>
 -->



</div>

{% endblock %}


{% block styles %}{% endblock %}

{% block scripts %}

<script>
var loadMarkers = function() {
	// map text box populate
	jQuery("#address").val('{{ idea.title }}');
	
	//put marker
	createMarker('{{ idea.latitude }}','{{ idea.longitude }}','{{idea.title}}', "");	
};
</script>

{% endblock %}